<h1>{{username}}, quanto você quer de cada produto?</h1>
<h2>Alguns produtos são vendidos em pacotes já determinados</h2>

<form action="{% url 'price' %}">

  <input id='user' type='hidden' value={{username}} name='username'>

  {% for id, name, multiplier, flag in products %}

  <b><label for="products" > {{ name }}</b>
  <label for="multiplier" > - Pacote mínimo {{multiplier}} unidades</label><br>
  <input type="number" min={{multiplier}} value={{multiplier}} step="{{multiplier}}" id={{ id }} name={{ id }} size="2"><br>

  {% endfor %}

  </br>

  <input type="submit" value="Ir para preços" />

</form>
