<h1>{{username}}, quanto você quer de cada produto?</h1>
<h2>Alguns produtos são vendidos em pacotes já determinados</h2>

<form action="{% url 'price' %}">

  <input id='user' type='hidden' value={{username}} name='username'>

  {% for id, name, multiplier, flag in products %}

  <label for="products" > {{ name }}<br>
  <label for="multiplier" > {{multiplier}}x</label>
  <input type="text" id={{ id }} name={{ id }} size="2"><br>

  {% endfor %}

  <input type="submit" value="Ir para preços" />

</form>
